html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100%;
  min-width: 100%;
  font-family: Tahoma, sans-serif;
  overflow: hidden;
  font-size: 15px;
}

body {
  background-image: repeating-linear-gradient(45deg, #fff, #fff 30px, #f2f2f2 30px, #f2f2f2 60px);
}

h2 {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.outline__large {
  border: 3px solid #000;
  border-radius: 15px;
  outline: 1px solid #000;
  outline-offset: -7px;
  background-color: #fff;
}

.outline__small {
  border: 3px solid #000;
  border-radius: 7px;
  outline: 1px solid #000;
  outline-offset: -5px;
  background-color: #fff;
}

.hidden {
  display: none;
}

.input {
  padding: 5px;
}

.input__label {
  margin: 5px 0px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.button {
  width: 100%;
  background-color: #fff;
  text-transform: uppercase;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.1s;
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
}

.input__label:nth-of-type(2) {
  margin-top: 0;
}

.farm__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
  position: relative;
  background-color: #fff;
}

.farm__advisor {
  display: flex;
  flex-direction: column;
}

.farm__header {
  display: flex;
  line-height: 0.75;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.farm__header span {
  font-size: 20px;
}

.farm__logo {
  height: 50px;
  margin-right: 15px;
  width: auto;
}

/* BEGIN: Farm Form */
.farm__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.farm__crops {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.farm__crop {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0.2;
  margin: 1px;
  cursor: pointer;
  flex-shrink: 0;
  transform-origin: 50% 50%;
  transform: scale(0.95);
  transition: transform 0.1s;
}

.farm__crop--active,
.farm__crop:hover {
  opacity: 1;
  transform: scale(1);
}

.farm__crop-labels {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.farm__crop-label {
  display: none;
  font-weight: bold;
  font-size: 15px;
}



.farm__crop-label--active {
  display: block;
}

[for="the_crop"],
[name="the_crop"] {
  display: none;
}

/* END: Farm Form */

/* BEGIN: Farm Todo */
.farm__outputs {
  margin-bottom: 15px;
}

.farm__todo {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.todo {
  display: none;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.todo__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__image-wrapper--click {
  cursor: pointer;
}

.todo__progress {
  bottom: 2px;
  right: 2px;
  position: absolute;
  color: #fff;
  text-shadow: 0px 2px 1px #000000;
  font-size: 12px;
  display: none;
}

.todo__image-wrapper--click .todo__progress {
  display: block;
}

.todo--active {
  display: flex;
}

.todo__copy {
  margin-left: 15px;
}

/* END: Farm Todo */

/* BEGIN: Time */
.farm__time {
  display: flex;
  justify-content: stretch;
  align-content: center;
  align-items: center;
}

.farm__time>input {
  flex-grow: 1;
}

.farm__time span {
  font-weight: bold;
}

.time__icon {
  display: block;
  height: 13px;
  width: 13px;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0px 5px 0px 0px;
}

.time__status-wrapper {
  display: flex;
}

.time__status {
  display: none;
}

.time__status--active {
  display: block;
}

.time__status--disabled {
  color: #f00;
}

/*
.time__status--enabled {
  color: #0f0;
}
*/

/* END: Time */

/* BEGIN: Farm Info */
.info__toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #000;
  line-height: 1;
}

.info__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: block;
  overflow: hidden;
  max-height: 0px;
  transition: opacity 0.5s, max-height 0s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.info__modal--active {
  opacity: 1;
  max-height: none;
}

.info__content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  word-wrap: break-word;
}

.info__header {
  margin-bottom: 5px;
}

.info__copy-wrapper {
  padding: 10px;
  margin-top: 1em;
}

.info__copy {
  margin-top: 0.5em;
  margin-bottom: 0em;
}

.info__list {
  margin: 0;
}

.info__attributions {
  padding: 0;
  list-style: none;
}

.info__attribution {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

/* END: Farm Info */